# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.mypy_cache/
.pytest_cache/
htmlcov/
.nox/

# IDE and OS specific
.vscode/
.idea/
.devcontainer/
.DS_Store
*.swp
*~
.git/
.gitignore
.gitattributes

# Build and distribution
dist/
build/
*.egg-info/

images/
LICENSE
.github/
.envrc
*.sh
