name: publish

on:
  # Runs on pushes targeting the default branch
  push:
    tags:
      - 'v*.*.*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish-docker-image:
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Convert Repository name to lower case
        id: lowercase
        run: echo "REPO=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Build the MCP Docker Image
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          docker build . \
            --tag ghcr.io/${{ env.REPO }}:${{ github.ref_name }} \
            --label io.modelcontextprotocol.server.name="io.github.${{ env.REPO }}"

      - name: Run the container
        if: success()
        run: docker run ghcr.io/${{ env.REPO }}:{{ github.ref_name }}

      - name: Publish to GitHub Container Registry
        if: success()
        run: docker push ghcr.io/${{ env.REPO }}:${{ github.ref_name }}
